.bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.root {
  position: relative;
  background: none !important;
  overflow-x: hidden;
}

.fullscreen {
  z-index: 10;
}
.minHeight {
  height: 1px;
  overflow: hidden;
}
